<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayatsuno Yuni Fan Site</title>
    <link rel="stylesheet" th:href="@{/css/writeLetter.css?after}">
</head>
<body>
    <div id="bgdiv">
        <iframe id="bgVideo" src="https://www.youtube.com/embed/R_RAWjqdgTs?autoplay=1&mute=1&controls=0&loop=1&playlist=R_RAWjqdgTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div></div>
    </div>

    <header>
        <a href="/"><img th:src="@{/img/YuniSign.png}" alt="Yuni Sign" id="logo"></a>
        <nav id="nav_main">
            <ul class="font2">
                <a href="/"><li>Home</li></a>
                <a href="/writeLetter"><li>편지 쓰기</li></a>
                <a href="/counter"><li>유튜브 카운터</li></a>
            </ul>
        </nav>
       
    </header>
    <!-- floating buttons -->
    <!-- <button id="topbtn" class="font5">Top</button> -->
    <button id="playmusic"></button>
    
    <!-- main body -->
    <div id="Main">
        <h1 id="MainTitle" class="font4">유니에게 편지 쓰기</h1>
        <p id="MainDescription" class="font3">유니에게 하고 싶은 말을 마음껏 써주세요.<br>※비방 및 욕설이 들어간 글은 삭제됩니다※</p>
    </div>

    <div id="letterSection">
        <form id="letterform">
            <textarea name="content" id="letterarea" placeholder="유니에게 하고 싶은 말을 마음껏 써주세요!!" class="font3"></textarea>
        </form>
    </div>
    <button onclick="sendLetter(document.getElementById('letterarea').value)" id="submitBtn" class="font5">제출하기</button>

    <!-- footer -->
    <footer>
        <p class="font2">이 사이트는 공식 페이지가 아닌 팬 사이트입니다.<br>이 사이트는 Stellive와는 무관합니다.</p>
    </footer>
</body>
</html>

<script th:src="@{/js/letter.js}"></script>
